<wm-page data-ng-controller="MainPageController" name="mainpage" pagetitle="Main">
    <wm-content name="content">
        <wm-page-content columnwidth="12" name="mainContent" padding="unset 15px">
            <wm-html name="html4">
                <h1 style="text-align: center;">&nbsp;PASSPORT APPLICATION FORM</h1>
                <h1 style="text-align: center;">Government of India, Ministry of External Affairs</h1>
                <p style="text-align: center;">Please read the Passport Instruction Booklet carefully before filling the form. Furnishing of incorrect information/ suppression of information would lead to rejection of application and would attract penal provisions as prescribed under
                    the Passports Act, 1967. Please produce your original documents at the time of submission of the form. All fields marked with (*) are mandatory to fill.</p>
            </wm-html>
            <wm-liveform novalidate="false" errormessage="" title="Applicantdetails Info" iconclass="wi wi-edit" defaultmode="Edit" dataset="bind:Variables.PassportAPPApplicantDetailsData.dataSet" captionalign="left" captionposition="left" name="liveform1">
                <wm-layoutgrid columns="1" name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                            <wm-form-field name="applyingfor" displayname="Applying for" show="true" primary-key="false" generator="assigned" key="applyingfor" type="string" readonly="false" required="true" widget="select" maxchars="255" placeholder="Enter value"
                            validationmessage="Select application type" layout="inline" dataset="bind:Variables.Passportapplicationfor.dataSet" datafield="dataValue" displayfield="dataValue"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn2">
                            <wm-container name="container1" show="bind:Widgets.liveform1.formWidgets.applyingfor.datavalue==='Re-issue of Passport'" deferload="true">
                                <wm-form-field name="form_field6_1" displayname="If Re-Issue Specify Reason(s)" widget="radioset" show="true" type="custom" key="form_field6_1" placeholder="" dataset="bind:Variables.reissueReason.dataSet" datafield="dataValue"
                                displayfield="dataValue" layout="inline" required="true" itemclass="media-list col-md-4 custom-rad" validationmessage="test"></wm-form-field>
                            </wm-container>
                            <wm-form-field name="applicationType" displayname="Type of Application" show="true" primary-key="false" generator="assigned" key="applicationType" type="string" readonly="false" required="true" widget="radioset" maxchars="255"
                            placeholder="Enter value" layout="inline" dataset="Normal, Tatkal"></wm-form-field>
                            <wm-form-field name="passportBookeltsize" displayname="Passport Bookeltsize" show="true" primary-key="false" generator="assigned" key="passportBookeltsize" type="string" readonly="false" required="true" widget="radioset"
                            maxchars="255" step="0" placeholder="Enter value" layout="inline" dataset="36 Pages, 60 Pages"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn3">
                            <label name="user details"></label>
                            <wm-label padding="unset 0.5em" name="ApplicantDetailsSection" caption="Applicant Details" fontsize="16" fontunit="px" fontweight="bold" backgroundcolor="#ddd2d2" width="100%"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                            <wm-form-field name="Applicantgivenname" displayname="Applicant's Given Name (Given Name means First Name followed by middle Name (if any))" widget="text" show="true" type="custom" placeholder="Enter applicant name" inputtype="text"
                            key="form_field6" required="true" validationmessage="bind:(Widgets.liveform1.formWidgets.Applicantgivenname.datavalue === '') || (Widgets.liveform1.formWidgets.Applicantgivenname.datavalue === undefined) ? ('Name cannot be empty') : ('Special Characters are not allowed')"
                            maxchars="45" autocomplete="false" captionalign="left" captionposition="top" regexp="^[a-zA-Z-_]+$" updateon="blur"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn5">
                            <wm-form-field name="applicantsurname" displayname="surname" widget="text" show="true" type="custom" required="true" inputtype="text" key="applicantsurname" placeholder="Enter value" captionalign="left" captionposition="top" regexp="^[a-zA-Z-_]+$"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                            <wm-form-field name="gender" displayname="Gender" show="true" primary-key="false" generator="assigned" key="gender" type="string" readonly="false" required="true" widget="select" maxchars="20" placeholder="Enter value" dataset="bind:Variables.applicantgender.dataSet"
                            datafield="dataValue" displayfield="dataValue"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow7">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                            <wm-form-field name="aliasnameconfirmation" displayname="Are you known by any other names(aliases)?" widget="radioset" show="true" type="custom" layout="inline" dataset="Yes, No" usekeys="false" on-click="aliasnameconfirmationClick($event, $scope)"
                            key="aliasnameconfirmation" placeholder="" required="true"></wm-form-field>
                            <wm-container name="container2_aliasesnameYes" show="bind:Widgets.liveform1.formWidgets.aliasnameconfirmation.datavalue === 'Yes'" class="bordered">
                                <wm-gridrow name="gridrow4">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                                        <wm-form-field name="AliasName1" displayname="AliasName1 Given Name (Given Name means First Name followed by middle Name (if any))" widget="text" show="true" type="custom" placeholder="Enter applicant name" inputtype="text"
                                        key="form_field6" required="true" validationmessage="enter applicantt name" maxchars="45" autocomplete="false" captionalign="left" captionposition="top" regexp="^[a-zA-Z-_]+$"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow5">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn5">
                                        <wm-form-field name="AliasSurname1" displayname="surname" widget="text" show="true" type="custom" required="true" inputtype="text" key="applicantsurname" placeholder="Enter value" captionalign="left" captionposition="top"
                                        regexp="^[a-zA-Z-_]+$"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow4">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                                        <wm-form-field name="Aliasname2" displayname="AliasName2 Given Name (Given Name means First Name followed by middle Name (if any))" widget="text" show="true" type="custom" placeholder="Enter applicant name" inputtype="text"
                                        key="form_field6" required="false" validationmessage="enter applicantt name" maxchars="45" autocomplete="false" captionalign="left" captionposition="top" regexp="^[a-zA-Z-_]+$"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow5">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn5">
                                        <wm-form-field name="AliasSurname2" displayname="surname" widget="text" show="true" type="custom" required="false" inputtype="text" key="applicantsurname" placeholder="Enter value" captionalign="left" captionposition="top"
                                        regexp="^[a-zA-Z-_]+$"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-container>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow72">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                            <wm-form-field name="namechangeconfirmation" displayname="Have you ever changed your Name?" widget="radioset" show="true" type="custom" layout="inline" dataset="Yes, No" usekeys="false" on-click="aliasnameconfirmationClick($event, $scope)"
                            key="aliasnameconfirmation" placeholder="" required="true"></wm-form-field>
                            <wm-container name="container_nameChangeYes" show="bind:Widgets.liveform1.formWidgets.namechangeconfirmation.datavalue === 'Yes'" class="bordered">
                                <wm-gridrow name="gridrow4">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                                        <wm-form-field name="Namechange1" displayname="Previous Name1 Given Name (Given Name means First Name followed by middle Name (if any))" widget="text" show="true" type="custom" placeholder="Enter applicant name" inputtype="text"
                                        key="form_field6" required="true" validationmessage="enter applicantt name" maxchars="45" autocomplete="false" captionalign="left" captionposition="top" regexp="^[a-zA-Z-_]+$"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow5">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn5">
                                        <wm-form-field name="NamechangeSurname1" displayname="surname" widget="text" show="true" type="custom" required="true" inputtype="text" key="applicantsurname" placeholder="Enter value" captionalign="left" captionposition="top"
                                        regexp="^[a-zA-Z-_]+$"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow4">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                                        <wm-form-field name="Namechangename2" displayname="Previous Name2 Given Name (Given Name means First Name followed by middle Name (if any))" widget="text" show="true" type="custom" placeholder="Enter applicant name"
                                        inputtype="text" key="form_field6" required="false" validationmessage="enter applicantt name" maxchars="45" autocomplete="false" captionalign="left" captionposition="top" regexp="^[a-zA-Z-_]+$"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow5">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn5">
                                        <wm-form-field name="NameChangeSurname2" displayname="surname" widget="text" show="true" type="custom" required="false" inputtype="text" key="applicantsurname" placeholder="Enter value" captionalign="left" captionposition="top"
                                        regexp="^[a-zA-Z-_]+$"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-container>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow8">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn8">
                            <wm-form-field name="ApplicantDOB" displayname="Date of Birth (DD/MM/YYYY)" widget="date" show="true" type="custom" required="true" showbuttonbar="true" datepattern="dd/MM/yyyy" outputformat="dd/MM/yyyy" validationmessage="Select Date of Birth of Applicant"
                            maxdate="CURRENT_DATE" mindate="01/01/1850" key="ApplicantDOB" placeholder="Select date"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow9">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn9">
                            <wm-label padding="unset 0.5em" name="BirthPlacesection" caption="Place of Birth" fontsize="16" fontunit="px" fontweight="bold" backgroundcolor="#ddd2d2" width="100%"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow14">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn14">
                            <wm-form-field name="Birthplaceconfirmation" displayname="Is your Place of Birth out of India?" widget="radioset" show="true" type="custom" layout="inline" dataset="Yes, No" required="true" key="Birthplaceconfirmation" placeholder=""
                            itemclass="media-list col-md-4 custom-rad"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow15">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn15">
                            <wm-form-field name="place" displayname="Village or Town or City" widget="text" show="true" type="custom" required="true" inputtype="text" key="place" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow16">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn16">
                            <wm-container name="container3" show="bind:Widgets.liveform1.formWidgets.Birthplaceconfirmation.datavalue === 'Yes'" class="bordered">
                                <wm-form-field name="CountryBirthplace" displayname="country" widget="select" show="true" type="custom" dataset="bind:Variables.CountriesList.dataSet|filter : {dataValue: '!India'}" displayfield="dataValue" key="form_field17"
                                placeholder="Select value"></wm-form-field>
                                <wm-label padding="unset 0.5em" name="label3" caption="If born before 15/08/1947 in a place now in Pakistan or Bangldesh, select &quot;Undivided India.&quot;"></wm-label>
                            </wm-container>
                            <wm-container name="container4" show="bind:Widgets.liveform1.formWidgets.Birthplaceconfirmation.datavalue === 'No'" class="bordered">
                                <wm-layoutgrid name="layoutgrid2">
                                    <wm-gridrow name="gridrow17">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn17">
                                            <wm-form-field name="form_field19" displayname="State" widget="text" show="true" type="custom" required="true" inputtype="text" key="form_field19" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn18">
                                            <wm-form-field name="form_field20" displayname="District" widget="text" show="true" type="custom" required="true" inputtype="text" key="form_field20" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-container>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow19">
                        <wm-gridcolumn columnwidth="5" name="gridcolumn21">
                            <wm-form-field name="maritalStatus" displayname="Marital Status" widget="select" show="true" type="custom" required="true" dataset="bind:Variables.MaritalStatus.dataSet" datafield="dataValue" displayfield="dataValue" key="maritalStatus"
                            placeholder="Select value"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="7" name="gridcolumn23">
                            <wm-form-field name="form_field22" displayname="Citizenship of India by" widget="select" show="true" type="custom" required="true" dataset="bind:Variables.Citizenship.dataSet" datafield="dataValue" displayfield="dataValue" key="form_field22"
                            placeholder="Select value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow20">
                        <wm-gridcolumn columnwidth="5" name="gridcolumn22">
                            <wm-form-field name="form_field23" displayname="PAN(If available)" widget="text" show="true" type="custom" inputtype="text" key="form_field23" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="7" name="gridcolumn24">
                            <wm-form-field name="form_field24" displayname="Voter ID (If available)" widget="text" show="true" type="custom" inputtype="text" key="form_field24" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow21">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn25">
                            <wm-form-field name="EmploymentType" displayname="Employment Type" widget="select" show="true" type="custom" required="true" dataset="bind:Variables.EmploymentType.dataSet" datafield="dataValue" displayfield="dataValue" key="EmploymentType"
                            placeholder="Select value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow70">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn99">
                            <wm-form-field name="organizationName" displayname="Organization Name" widget="text" show="bind:Widgets.liveform1.formWidgets.EmploymentType.datavalue =='Government' || Widgets.liveform1.formWidgets.EmploymentType.datavalue == 'PSU' || Widgets.liveform1.formWidgets.EmploymentType.datavalue == 'Satutory Body'"
                            type="custom" required="true" inputtype="text" key="form_field27" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow71">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn100">
                            <wm-form-field name="IsparentorSpouceGovtserv" displayname="Is either of yout parent (in case of minor)/spouse, a government servant?" widget="select" show="true" type="custom" required="true" dataset="Yes, No" key="IsparentorSpouceGovtserv"
                            placeholder="Select value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow51">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn67">
                            <wm-form-field name="EducationQualification" displayname="Educational qualification" widget="select" show="true" type="custom" required="true" dataset="bind:Variables.EduactionQualification.dataSet" key="EducationQualification"
                            placeholder="Select value" datafield="All Fields" displayfield="dataValue"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow22">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn27">
                            <wm-form-field name="nonecreligibility" displayname="Are you eligible for Non-ECR category?" widget="select" show="true" type="custom" dataset="Yes, No" key="nonecreligibility" placeholder="Select value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow23">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn29">
                            <wm-form-field name="visbleMarks" displayname="Visible Distinguishing mark" widget="text" show="true" type="custom" required="false" inputtype="text" key="visbleMarks" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn30">
                            <wm-form-field name="Aadharnum" displayname="Aadhar Number" widget="text" show="true" type="custom" inputtype="number" maxchars="12" key="Aadharnum" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow26">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn36">
                            <wm-html name="html1">I, the holder of above mentioned Aadhaar Number , hereby give my consent to Passport Seva to obtain my Aadhaar Number, Name and Fingerprint/Iris for authentication with UIDAI. I have no objection using my identity and biometric
                                information for validation with Aadhaar (CIDR) database only for the purpose of authentication.</wm-html>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow24">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn32">
                            <wm-form-field name="aadharAgreement" displayname="I agree" widget="radioset" show="true" type="custom" dataset="Yes, No" layout="inline" itemclass="media-list col-md-4 custom-rad" key="aadharAgreement" placeholder="" required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow59">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn77_1">
                            <wm-label padding="unset 0.5em" name="FamilyDetailsSection" caption="Family Details (Father/Mother/Legal Guardian details; at least one is mandatory.)" fontsize="16" fontunit="px" fontweight="bold" backgroundcolor="#ddd2d2" width="100%"></wm-label>
                            <wm-form-field name="Applicantfathersgivenname" displayname="Father's Given Name (Given Name means First Name followed by middle Name (if any))" widget="text" show="true" type="custom" placeholder="Enter applicant name"
                            inputtype="text" key="form_field6" required="false" validationmessage="enter applicantt name" maxchars="45" autocomplete="false" captionalign="left" captionposition="top"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow26_1">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn9">
                            <wm-form-field name="applicantfatherssurname" displayname="surname" widget="text" show="true" type="custom" required="false" inputtype="text" key="applicantsurname" placeholder="Enter value" captionalign="left" captionposition="top"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow27">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                            <wm-form-field name="legalguardiansname" displayname="Legal Guardians Given Name (if applicable)" widget="text" show="true" type="custom" placeholder="Enter applicant name" inputtype="text" key="form_field6" required="false" validationmessage="enter applicantt name"
                            maxchars="45" autocomplete="false" captionalign="left" captionposition="top"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow29">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                            <wm-form-field name="ApplicantMothersgivenname" displayname="Mother's Given Name (Given Name means First Name followed by middle Name (if any))" widget="text" show="true" type="custom" placeholder="Enter applicant name" inputtype="text"
                            key="form_field6" required="false" validationmessage="enter applicantt name" maxchars="45" autocomplete="false" captionalign="left" captionposition="top"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn5">
                            <wm-form-field name="applicantMotherssurname" displayname="surname" widget="text" show="true" type="custom" required="false" inputtype="text" key="applicantsurname" placeholder="Enter value" captionalign="left" captionposition="top"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow33">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn40">
                            <wm-label padding="unset 0.5em" caption="Present Residential Address Details (where applicant presently resides)" fontsize="16" fontunit="px" fontweight="bold" backgroundcolor="#ddd2d2" width="100%" name="ResidentialAddressSection"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow71_1">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn91">
                            <wm-form-field name="presentaddressoutofIndia" displayname="Is your present address out of India?" widget="radioset" show="true" type="custom" layout="inline" dataset="Yes, No" itemclass="media-list col-md-4 custom-rad" key="presentaddressoutofIndia"
                            placeholder=""></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow47">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn58">
                            <wm-container name="container_OutofIndia_yes" show="bind:Widgets.liveform1.formWidgets.presentaddressoutofIndia.datavalue === 'Yes'" class="bordered">
                                <wm-layoutgrid name="layoutgrid3">
                                    <wm-gridrow name="gridrow72_1">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn92_1">
                                            <wm-form-field name="housenumoutofindia" displayname="House Number and Street Name" widget="text" show="true" type="custom" required="true" captionalign="left" captionposition="top" inputtype="text" key="housenumoutofindia"
                                            placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow40">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn44">
                                            <wm-form-field name="VillageORCityORTown" displayname="Village or Town or City" widget="text" show="true" type="custom" required="true" inputtype="text" key="VillageORCityORTown" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow41">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn46">
                                            <wm-form-field name="Country" displayname="Country" widget="autocomplete" show="true" type="custom" placeholder="Enter / Select country name" dataset="bind:Variables.CountriesList.dataSet|filter : {dataValue: '!India'}"
                                            required="true" displaylabel="dataValue" searchkey="dataValue" datafield="dataValue" validationmessage="Select Country.." key="Country"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn47">
                                            <wm-form-field name="StateORProvince" displayname="State/Province" widget="text" show="true" type="custom" required="false" inputtype="text" key="StateORProvince" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow42">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn47_1">
                                            <wm-form-field name="DistrictorCountry" displayname="District or Country" widget="text" show="true" type="custom" inputtype="text" key="DistrictorCountry" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn48">
                                            <wm-form-field name="ZipCode" displayname="Zip Code" widget="text" show="true" type="custom" inputtype="number" maxchars="6" required="false" key="ZipCode" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-container>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow39">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn43_1">
                            <wm-container name="container_outofIndia_No" show="bind:Widgets.liveform1.formWidgets.presentaddressoutofIndia.datavalue === 'No'" class="bordered">
                                <wm-layoutgrid name="layoutgrid4">
                                    <wm-gridrow name="gridrow99">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn120">
                                            <wm-form-field name="ResidingSince" displayname="Residing Since" widget="date" show="true" type="custom" datepattern="dd/MM/yyyy" outputformat="dd/MM/yyyy" required="true" mindate="bind:Widgets.liveform1.formWidgets.ApplicantDOB.datavalue"
                                            maxdate="CURRENT_DATE" key="ResidingSince" placeholder="Select date"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow68">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn89">
                                            <wm-form-field name="housenumandstreetnameWithinIndia" displayname="House Number and Street Name" widget="text" show="true" type="custom" required="true" captionalign="left" captionposition="top" inputtype="text"
                                            key="housenumandstreetnameWithinIndia" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow45">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn54">
                                            <wm-form-field name="VillageORTOwnorCitywithinIndia" displayname="Village or Town or City" widget="text" show="true" type="custom" required="true" inputtype="text" key="VillageORTOwnorCitywithinIndia" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn92">
                                            <wm-form-field name="StatewithinIndia" displayname="State" widget="text" show="true" type="custom" required="true" inputtype="text" key="StatewithinIndia" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow46">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn57">
                                            <wm-form-field name="DistrictwithinInidaState" displayname="District" widget="text" show="true" type="custom" inputtype="text" key="DistrictwithinInidaState" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow47_1">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn60">
                                            <wm-form-field name="PoliceStationwithinindia" displayname="Police Station" widget="text" show="true" type="custom" required="true" inputtype="text" key="PoliceStationwithinindia" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn93">
                                            <wm-form-field name="PINCodewithininida" displayname="PIN" widget="text" show="true" type="custom" inputtype="number" required="true" key="PINCodewithininida" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-container>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow69">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn94">
                            <wm-prefab prefabname="passportapp_addrs" name="passportapp_addrs1" show="bind:Widgets.liveform1.formWidgets.presentaddressoutofIndia.datavalue === 'Yes' || Widgets.liveform1.formWidgets.presentaddressoutofIndia.datavalue === 'No'"></wm-prefab>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow34">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn41">
                            <wm-form-field name="permanataddrssameaspresentaddrs" displayname="Is permanent address same as present address?" widget="radioset" show="true" type="custom" dataset="Yes,No" layout="inline" key="permanataddrssameaspresentaddrs"
                            placeholder=""></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow36">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn43">
                            <wm-container show="bind:Widgets.liveform1.formWidgets.permanataddrssameaspresentaddrs.datavalue === 'No'" name="container7_Permanentaddrsnotsame" class="bordered">
                                <wm-layoutgrid name="layoutgrid5">
                                    <wm-gridrow name="gridrow60">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn79">
                                            <wm-label padding="unset 0.5em" caption="Permanent Residential Address Details" fontsize="16" fontunit="px" fontweight="bold" backgroundcolor="#ddd2d2" width="100%" name="label8"></wm-label>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow52">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn70">
                                            <wm-form-field name="form_field64" displayname="House Number and Street Name" widget="text" show="true" type="custom" required="true" captionalign="left" captionposition="top" inputtype="text" key="form_field64"
                                            placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow53">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn71">
                                            <wm-form-field name="form_field65" displayname="Village or Town or City" widget="text" show="true" type="custom" required="true" inputtype="text" key="form_field65" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn95">
                                            <wm-form-field name="StateIfinIndia" displayname="State (If in India)" widget="text" show="true" type="custom" required="true" inputtype="text" key="StateIfinIndia" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow54">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn72">
                                            <wm-form-field name="DistrictIfinIndia" displayname="District (If in India)" widget="text" show="true" type="custom" inputtype="text" key="DistrictIfinIndia" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow55">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn74">
                                            <wm-form-field name="CountryIfabroad" displayname="Country (if Abroad)" widget="select" show="true" type="custom" dataset="bind:Variables.CountriesList.dataSet|filter : {dataValue: '!India'}" datafield="dataValue"
                                            displayfield="dataValue" key="form_field17" placeholder="Select value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow58">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn76_1">
                                            <wm-form-field name="form_field68" displayname="Police Station" widget="text" show="true" type="custom" required="true" inputtype="text" key="form_field68" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn96">
                                            <wm-form-field name="form_field69" displayname="PIN" widget="text" show="true" type="custom" inputtype="number" required="true" key="form_field69" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow56">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn75">
                                            <wm-form-field name="permanetMobnum" displayname="Mobile Number" widget="text" show="true" type="custom" required="true" inputtype="number" maxchars="10" key="permanetMobnum" placeholder="Enter value" maxvalue="9999999999"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn76">
                                            <wm-form-field name="permanentTelenum" displayname="Telephone Number" widget="text" show="true" type="custom" inputtype="number" maxvalue="15" key="permanentTelenum" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-container>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow58_1">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn76_2">
                            <wm-label padding="unset 0.5em" caption="Emergency contact Details *" fontsize="16" fontunit="px" fontweight="bold" backgroundcolor="#ddd2d2" width="100%" name="label_emergencycontact"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow61">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn82">
                            <wm-form-field name="emergencyContactname" displayname="Name and Address" widget="text" show="true" type="custom" captionalign="left" captionposition="top" required="true" inputtype="text" key="emergencyContactname" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow62">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn85">
                            <wm-prefab prefabname="passportapp_addrs" name="passportapp_addrs2"></wm-prefab>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow63_1">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn81">
                            <wm-label padding="unset 0.5em" caption="References in your village or Town or City *" fontsize="16" fontunit="px" fontweight="bold" backgroundcolor="#ddd2d2" width="100%" name="Label_ReferenceData"></wm-label>
                            <wm-form-field name="Referencecontactname1" displayname="First Reference Name and Address" widget="text" show="true" type="custom" captionalign="left" captionposition="top" required="true" inputtype="text" key="Referencecontactname1"
                            placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow64">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn82_1">
                            <wm-form-field name="firstrefMobnum" displayname="Mobile Number" widget="text" show="true" type="custom" required="false" inputtype="number" maxchars="9999999999" key="firstrefMobnum" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn97">
                            <wm-form-field name="firstreftelephonenum" displayname="Telephone Number" widget="text" show="true" type="custom" inputtype="number" maxvalue="15" key="firstreftelephonenum" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow65">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn83_2">
                            <wm-form-field name="Referencecontactname2" displayname="Second Reference Name and Address" widget="text" show="true" type="custom" captionalign="left" captionposition="top" required="true" inputtype="text" key="Referencecontactname2"
                            placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow66">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn85_1">
                            <wm-form-field name="SecondrefMobnum" displayname="Mobile Number" widget="text" show="true" type="custom" required="false" inputtype="number" maxchars="10" key="SecondrefMobnum" placeholder="Enter value" maxvalue="9999999999"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn98">
                            <wm-form-field name="Secondreftelephonenum" displayname="Telephone Number" widget="text" show="true" type="custom" inputtype="number" maxvalue="15" key="Secondreftelephonenum" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow70_1">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn87">
                            <wm-label padding="unset 0.5em" caption="Previous Passport /Application Details" fontsize="16" fontunit="px" fontweight="bold" backgroundcolor="#ddd2d2" width="100%" name="PrevPP_applicationDetails"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow71_2">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn89_1">
                            <wm-label padding="unset 0.5em" name="label10" caption=""></wm-label>
                            <wm-form-field name="PreviousPPDetails_yes" displayname="Details of Previous/Current Diplomatic/Official Passport*" widget="radioset" show="true" type="custom" dataset="bind:Variables.DetailsOfPrevorCurrentPP.dataSet"
                            captionalign="left" captionposition="top" layout="inline" datafield="dataValue" displayfield="dataValue" key="PreviousPPDetails_yes" placeholder=""></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow72_2">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn91_1">
                            <wm-container name="container9_previousDetails_PP" show="bind:Widgets.liveform1.formWidgets.PreviousPPDetails_yes.datavalue === 'Details Available'" deferload="false" class="bordered">
                                <wm-layoutgrid name="layoutgrid6">
                                    <wm-gridrow name="gridrow75">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn92_2">
                                            <wm-form-field name="PreviousPPnum" displayname="Passport Number" widget="text" show="true" type="custom" placeholder="Enter Passport Number" maxchars="8" required="true" width="100%" regexp="^(?!^0+$)[a-zA-Z0-9]{3,20}$"
                                            validationmessage="Enter valid Passport Number" inputtype="text" key="PreviousPPnum"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow76">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn97_1">
                                            <wm-form-field name="PrevPPIssueDate" displayname="Date of Issue (DD/MM/YYYY)" widget="date" show="true" type="custom" datepattern="dd/MM/yyyy" required="true" mindate="bind:Widgets.liveform1.formWidgets.ApplicantDOB.datavalue"
                                            maxdate="CURRENT_DATE" width="100%" outputformat="dd/MM/yyyy" key="PrevPPIssueDate" placeholder="Select date"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn94_2">
                                            <wm-form-field name="PrevPPExpiryDate" displayname="Date of Expiry (DD/MM/YYYY)" widget="date" show="true" type="custom" datepattern="dd/MM/yyyy" required="true" mindate="bind:Widgets.liveform1.formWidgets.PrevPPIssueDate.datavalue"
                                            width="100%" outputformat="dd/MM/yyyy" showweeks="false" key="PrevPPExpiryDate" placeholder="Select date"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow77">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn96_1">
                                            <wm-form-field name="PrevPP_IssuePlace" displayname="Place Of Issue" widget="text" show="true" type="custom" required="false" validationmessage="Enter Passport Issue Place" inputtype="text" key="PrevPP_IssuePlace"
                                            placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-container>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow73_1">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn91_2">
                            <wm-form-field name="passportapplicationStatus" displayname="Have you ever applied for passport, but not issued?" widget="radioset" show="true" type="custom" captionalign="left" captionposition="top" dataset="Yes, No" layout="inline"
                            required="true" key="passportapplicationStatus" placeholder=""></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow74">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn91_3">
                            <wm-panel iconclass="" autoclose="outsideClick" title="" name="passportApplicationdetails" show="bind:Widgets.liveform1.formWidgets.passportapplicationStatus.datavalue === 'Yes'">
                                <wm-panel-footer name="panel_footer1">
                                    <wm-layoutgrid name="layoutgrid7">
                                        <wm-gridrow name="gridrow78">
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn96_2">
                                                <wm-form-field name="monthandyear" displayname="Month and Year of Applying" widget="select" show="true" type="custom" dataset="bind:Variables.months.dataSet" datafield="dataValue" displayfield="dataValue" key="monthandyear"
                                                placeholder="Select value"></wm-form-field>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn97_2">
                                                <wm-form-field name="ApplicationYear" displayname="Year" widget="text" show="true" type="custom" required="true" maxchars="4" inputtype="number" key="ApplicationYear" placeholder="Enter value"></wm-form-field>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                    <wm-form-field name="form_field90" displayname="Name Of Passport Office where Applied" widget="text" show="true" type="custom" required="true" validationmessage="Enter passport office name and location" inputtype="text"
                                    key="form_field90" placeholder="Enter value"></wm-form-field>
                                </wm-panel-footer>
                                <wm-form-field name="FileNumber" displayname="File Number" widget="text" show="true" type="custom" inputtype="number" key="FileNumber" placeholder="Enter value"></wm-form-field>
                            </wm-panel>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow80">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn101">
                            <wm-label padding="unset 0.5em" caption="Other Details" fontsize="16" fontunit="px" fontweight="bold" backgroundcolor="#ddd2d2" width="100%" name="OtherDetails"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow81">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn102">
                            <wm-form-field name="form_otherinfo1" displayname="1) Have you ever been charged with criminal proceedings or any arrest warrant/ summon pending" widget="radioset" show="true" type="custom" width="20%" dataset="Yes, No" captionalign="left"
                            captionposition="top" required="true" layout="inline" key="form_otherinfo1" placeholder=""></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow82_1">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn101_1">
                            <wm-panel iconclass="" autoclose="outsideClick" title="" name="panel2" show="bind:Widgets.liveform1.formWidgets.form_otherinfo1.datavalue === 'Yes'" content="CourtCaseProceedings"></wm-panel>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow82">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn103">
                            <wm-form-field name="form_othrInfo2" displayname="2) Have you at any time during the period of 5 years immediately preceeding the date of this application been convicted by a court in india for any criminal offence and sentenced to imprisonment for two years or more?"
                            widget="radioset" show="true" type="custom" width="20%" dataset="Yes, No" captionalign="left" captionposition="top" required="true" layout="inline" key="form_othrInfo2" placeholder=""></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow83">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn102_1">
                            <wm-panel iconclass="" autoclose="outsideClick" title="" name="panel3" show="bind:Widgets.liveform1.formWidgets.form_othrInfo2.datavalue === 'Yes'" content="CourtCaseProceedings"></wm-panel>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow84">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn103_1">
                            <wm-form-field name="form_othrInfo3" displayname="3) Have you ever been Denied or Refused passport?" widget="radioset" show="true" type="custom" width="20%" dataset="Yes, No" captionalign="left" captionposition="top" required="true"
                            layout="inline" key="form_othrInfo3" placeholder=""></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow85">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn104">
                            <wm-form-field name="RefusalReason" displayname="Reason for Refusal" widget="textarea" show="bind:Widgets.liveform1.formWidgets.form_othrInfo3.datavalue === 'Yes'" type="custom" placeholder="" required="true" key="RefusalReason"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow86">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn105">
                            <wm-form-field name="form_othrInfo4" displayname="4) Has your Passport ever been Impounded or Revoked" widget="radioset" show="true" type="custom" required="true" captionalign="left" captionposition="top" layout="inline" dataset="Yes,No"
                            key="form_othrInfo4" placeholder=""></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow87">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn106">
                            <wm-panel iconclass="" autoclose="outsideClick" title="" name="panel4" show="bind:Widgets.liveform1.formWidgets.form_othrInfo4.datavalue === 'Yes'">
                                <wm-form-field name="PassportNumber_othrInfo3" displayname="Passport Number" widget="text" show="true" type="custom" placeholder="Enter Passport Number" maxchars="8" required="true" width="100%" regexp="^(?!^0+$)[a-zA-Z0-9]{3,20}$"
                                validationmessage="Enter valid Passport Number" inputtype="text" key="PassportNumber_othrInfo3"></wm-form-field>
                                <wm-form-field name="Reason_impound_revocation" displayname="Reason for Impounding/Revokation" widget="textarea" type="custom" placeholder="" required="true" show="true" key="Reason_impound_revocation"></wm-form-field>
                            </wm-panel>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow88">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn107">
                            <wm-form-field name="form_othrInfo5" displayname="5) Have you ever applied for /been granted political asylum to/ by any foreign country?" widget="radioset" show="true" type="custom" required="true" captionalign="left" captionposition="top"
                            layout="inline" dataset="Yes,No" key="form_othrInfo5" placeholder=""></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow89">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn108">
                            <wm-form-field name="otherInfo5data" displayname="Name of the country" widget="autocomplete" show="bind:Widgets.liveform1.formWidgets.form_othrInfo5.datavalue === 'Yes'" type="custom" required="true" dataset="bind:Variables.CountriesList.dataSet"
                            searchkey="dataValue" displaylabel="dataValue" datafield="dataValue" key="otherInfo5data" placeholder="Search"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow90">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn109">
                            <wm-form-field name="form_othrInfo6" displayname="6) Have you ever returned to India on Emergency Certificate (EC) or were ever deported or repatriated?" widget="radioset" show="true" type="custom" required="true" captionalign="left"
                            captionposition="top" layout="inline" dataset="Yes,No" key="form_othrInfo6" placeholder=""></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow91">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn110">
                            <wm-tile width="100%" name="tile1" show="bind:Widgets.liveform1.formWidgets.form_othrInfo6.datavalue === 'Yes'" class="bordered" backgroundposition="left">
                                <wm-layoutgrid height="100%" name="layoutgrid8">
                                    <wm-gridrow height="100%" name="gridrow92">
                                        <wm-gridcolumn columnwidth="5" horizontalalign="center" name="gridcolumn111">
                                            <wm-form-field name="form_Info6dataECnum" displayname="EC No" widget="text" show="true" type="custom" required="true" inputtype="text" key="form_Info6dataECnum" placeholder="Enter value"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="7" horizontalalign="center" name="gridcolumn112">
                                            <wm-form-field name="EC_IssueDate" displayname="Date of Issue (DD/MM/YYYY)" widget="date" show="true" type="custom" required="true" placeholder="Enter Date" datepattern="dd/MM/yyyy" outputformat="dd/MM/yyyy" maxdate="CURRENT_DATE"
                                            hint="Provide date 01/MM/YYYY in case cannot recall  exact date" key="EC_IssueDate"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow94">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn115">
                                            <wm-form-field name="TravelledonEC_countryname" displayname="Country from where travelled on EC/Deported/Repatriated" widget="autocomplete" type="custom" required="true" dataset="bind:Variables.CountriesList.dataSet"
                                            searchkey="dataValue" displaylabel="dataValue" datafield="dataValue" captionalign="left" captionposition="left" show="true" key="TravelledonEC_countryname" placeholder="Search"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow94_1">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn114">
                                            <wm-form-field name="EC_issueAuthority" displayname="Issuing Authority" widget="text" show="true" type="custom" required="true" placeholder="Issuing Authority details.." validationmessage="Enter Issuing Authority details"
                                            inputtype="text" key="EC_issueAuthority"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-tile>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow95">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn115_1">
                            <wm-html name="html2">
                                <h3>Self Declaration</h3>
                                <p>I owe allegiance to the sovereignty , unity &amp; integrity of India, and have not voluntarily acquired citizenship or travel document of any other country. I have not lost, surrendered or been deprived of the the citizenship
                                    of India and I affirm that the information given by me in this form and the enclosures is true and I solely responsible for its accuracy, and I am liable to be penalized or prosecuted if found otherwise. I am aware
                                    that under the Passport Act, 1967 it is a criminal offence to furnish any false information or to suppress any material information with a view to obtaining passport or travel document.</p>
                            </wm-html>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow96">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn116">
                            <wm-form-field name="form_Agreefinal" widget="checkbox" show="true" type="custom" checkedvalue="Yes" required="true" captionalign="right" captionposition="right" caption="I Agree" disabled="bind:Widgets.liveform1.formWidgets.aadharAgreement.datavalue === 'No'"
                            key="form_Agreefinal" placeholder=""></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow97">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn117">
                            <wm-form-field name="form_PlaceofApplicant" displayname="Place" widget="text" show="true" type="custom" required="true" inputtype="text" key="form_PlaceofApplicant" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn118">
                            <wm-form-field name="form_FormSubmittime" displayname="Date &amp; Time" widget="datetime" show="true" type="custom" datepattern="dd/MM/yyyy hh:mm:ss a" defaultvalue="CURRENT_DATE" required="true" disabled="true" key="form_FormSubmittime"
                            placeholder="Select date time"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow98">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn119">
                            <wm-html name="Final_note">
                                <h3><strong>Note:</strong></h3>
                                <p>Applicants are required to submit the proof of address of the present address only, irrespective of the date from which he/she has been residing at the given address. However, he/she is required to mention all the places
                                    of stay during previous one year (from the date of application filling) in the Passport application form.</p>
                                <table border="2"></table>
                            </wm-html>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                <wm-form-action key="save" display-name="Submit Details" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Submit" action="highlightInvalidFields();Variables.PassportData_Submit_Validate.listRecords()"
                disabled="false" type="submit" update-mode="true"></wm-form-action>
                <wm-form-action key="cancel" display-name="Save As Draft" show="true" class="form-cancel btn-secondary" iconclass="wi wi-save" title="SaveAsDraft" action="Variables.PassportData_Submit_NoValidate.createRecord()" shortcutkey=""
                disabled="false" type="button" update-mode="true"></wm-form-action>
            </wm-liveform>
        </wm-page-content>
    </wm-content>
</wm-page>